.photograph-header {
  display: flex;
  flex-direction: row;
  background-color: #fafafa;
  height: 300px;
  margin: 0 100px;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
}

#flexCol {
  display: flex;
  flex-direction: column;
}

#photographer_name {
  color: #d3573c;
  font-weight: 400;
  font-size: 36px;
  margin: 20px 0 0 0;
  max-width: 200px;
}

#photographer_image {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 100%;
  display: flex;
  justify-self: center;
  justify-content: center !important;
  align-items: center;
}

#photographer_location {
  font-size: 24px;
  margin: 0 0 19px 0;
  color: #901c1c;
}

#photographer_tagline {
  font-size: 13px;
  margin: 0 0 2px 0;
  color: #525252;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}
/* .contact_button:hover,
.contact_button:focus {
  color: black;
  background-color: #db8876;
} */

#contact_me {
  width: 170px !important;
  font-size: 18px;
  font-weight: bold;
  color: white;
  padding: 11px 5px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}
#contact_me:hover,
#contact_me:focus {
  color: black;
  background-color: #db8876;
}

#photographer_gallery {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  /* gap: 2%; */
}

.medias {
  object-fit: cover;
  cursor: pointer;
  max-height: 300px;
  object-fit: cover;
  object-position: 50% 30%;
  border-radius: 5px;
}

figure {
  margin-inline-end: 1.5em;
}
.media {
  height: 300px !important;
  width: 350px !important;
  border-radius: 5px;
  object-fit: cover;
  object-position: 50% 30%;
  cursor: pointer;
}

figcaption {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.media_title {
  font-size: 24px;
  color: #901c1c;
  padding-top: auto;
  flex-grow: 3;
}

.media_likes {
  font-size: 18px;
  color: #901c1c;
  line-height: 30px;
  margin-right: 15px;
}
.media_likes_icon {
  font-size: 18px;
  color: #901c1c;
  line-height: 30px;
  align-items: flex-end;
}

/* ==============================
==============POPUP==========
================================= */

#popup {
  position: fixed;
  bottom: 0px;
  right: 2%;
  background-color: #db8876;
  width: 376px;
  height: 60px;
  border-radius: 5px 5px 0 0;
  font-size: 24px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: 0.5s ease-in-out;
}

.price_per_day {
  justify-content: end;
}

.popup_text {
  display: flex;
  align-items: center;
  width: 75%;
  justify-content: space-between;
  align-items: center;
  color: #525252;
}
.heart {
  color: black;
}

/* .likes_total {
  display: flex;
  width: 300px;
} */

/* ==============================
==============LIGHTBOX==========
================================= */

.lightbox {
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  background-color: grey; /* only for debug */
  transition: opacity 0.3s;
  z-index: 99;
  display: none;
}

.lightbox .close_gallery {
  position: absolute;
  top: 25px;
  right: 25px;
}

.lightbox > img:not(.close_gallery) {
  /* display: flex;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: auto; */
  display: flex;
  object-fit: contain;
  width: 100%;
  height: calc(90vh - 90px);
  margin-top: 50px;
  border-radius: 5px;
}

.lightbox > video {
  width: 100%;
  height: calc(90vh - 90px);
  border-radius: 5px;
  margin-top: 50px;
}

.bground {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: -50px;
  background-color: rgba(211, 87, 60, 0.5);
  z-index: -1;
}
.wrapper {
  display: block;
}
.wrapper-content {
  z-index: 999;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  width: 100vw;
  height: calc(100vh - 90px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: (transparent, 0.6);
  border-radius: 3px;
}

.wrapper-content button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

p {
  font-size: 24px;
  color: #fff;
  line-height: 40px;
}
.wrapper-left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100%;
}

.wrapper-left .previous {
  width: 60px;
  height: 60px;
  font-size: 48px;
  color: #fff;
}

.wrapper-right {
  flex-direction: column-reverse;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100px;
  height: 50%;
}

.wrapper-right .next {
  width: 60px;
  height: 60px;
}

.next i {
  font-size: 48px;
  color: #fff;
}

.close-lightbox {
  position: absolute;
  top: 25px;
  right: 25px;
  margin-top: 15px;
  width: 5%;
  color: #901c1c;
}

svg path {
  fill: #fff;
}

.lightbox_container {
  background-color: (transparent, 0.6);
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 100%;
}
.lightbox_container div {
  background-color: (transparent, 0.5);
  display: flex;
  flex-direction: column;
}
.lightbox_container div img {
  display: block;
  object-fit: contain;
  width: 100%;
  height: calc(90vh - 90px);
  margin-top: 10px;
  border-radius: 5px;
}
div img:focus {
  border: 2px solid #fff;
}

video {
  width: 100%;
  height: calc(90vh - 90px);
  border-radius: 5px;
}
video:focus {
  border: 2px solid #fff;
}

video:focus p {
  margin: auto;
  margin-top: 20px;
}
video:focus p:focus {
  border: 2px solid #fff;
}

.hidden {
  display: none;
}
/* ==============================
==============MODAL==========
================================= */

#contact_modal {
  display: none;
  position: fixed;
  height: 100vh;
  width: 100vw;
  left: 50%;
  top: 50%;
  margin-top: -50vh;
  margin-left: -50vw;
  overflow: auto;
  background-color: rgba(196, 196, 196, 0.4);
  z-index: 99;
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
  transform: translateY(50px);
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

#inputHeader {
  display: flex;
  flex-direction: column;
  font-size: 36px;
  margin-bottom: 25px;
  color: #312e2e;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}

#textArea {
  width: 100%;
  height: 170px;
  border: none;
  border-radius: 5px;
}

.next {
  width: 50px;
  height: 100px;
  position: absolute;
  right: 0;
  bottom: 50%;
  color: red;
}

.previous {
  width: 50px;
  height: 100px;
  position: absolute;
  left: 0;
  bottom: 50%;
  color: red;
}

.fa-solid {
  pointer-events: none;
}

/* ==============================
==============SORT BOX ==========
================================= */

nav {
  display: flex;
}
nav > label {
  margin-left: 100px;
  margin-top: 10px;
  line-height: 50px;
  font-weight: 600;
}

.select-box {
  z-index: 10;
  border-radius: 5px;
  margin-left: 100px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  width: 170px;
  background-color: #901c1c;
  color: white;
  position: absolute;
}

.select-box hr {
  width: 99%;
  margin: auto;
}
.selected {
  position: relative;
  padding: 12px 24px;
  cursor: pointer;
  order: -1;
}
.selected:hover {
  background-color: #db8876;
  color: #000;
  font-weight: 900;
  border: 3px solid #000;
  border-radius: 6px;
}
.selected:focus {
  background-color: #db8876;
  color: #000;
  font-weight: 900;
  border: 3px solid #000;
  border-radius: 6px;
}

.option {
  padding: 12px 24px;
  cursor: pointer;
  background-color: #901c1c;
  /* border-radius: 5px; */
}
.radio {
  display: none;
}

.option:hover {
  background-color: #db8876;
}
.option:focus {
  background-color: #db8876;
  color: #000;
  font-weight: 900;
  border: 3px solid #000;
  border-radius: 6px;
}

.options-container:not(active) {
  display: none;
}
.options-container.active {
  background-color: #901c1c;
  color: white;
  height: 0px;
  width: 100%;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  z-index: 5;
}
