#contact_modal {
  display: none;
}

.photograph-header {
  display: flex;
  flex-direction: row;
  background-color: #fafafa;
  height: 300px;
  margin: 0 100px;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
}

#flexCol {
  display: flex;
  flex-direction: column;
}

#photographer_name {
  color: #d3573c;
  font-weight: 400;
  font-size: 36px;
  margin: 20px 0 0 0;
  max-width: 200px;
}

#photographer_image {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 100%;
  display: flex;
  justify-self: center;
  justify-content: center !important;
  align-items: center;
}

#photographer_location {
  font-size: 24px;
  margin: 0 0 19px 0;
  color: #901c1c;
}

#photographer_tagline {
  font-size: 13px;
  margin: 0 0 2px 0;
  color: #525252;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}
.contact_button:hover,
.contact_button:focus {
  color: black;
  background-color: #db8876;
}

#contact_me {
  width: 170px !important;
  font-size: 18px;
  font-weight: bold;
  color: white;
  padding: 11px 5px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

#photographer_gallery {
  margin: auto 35px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.medias {
  height: 300px !important;
  width: 350px !important;
  object-fit: cover;
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

#inputHeader {
  display: flex;
  flex-direction: column;
  font-size: 36px;
  margin-bottom: 25px;
  color: #312e2e;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}

#textArea {
  width: 100%;
  height: 170px;
  border: none;
  border-radius: 5px;
}
