@import url('photographer.css');

* {
  box-sizing: border-box;

  content-visibility: auto;
  contain-intrinsic-size: 1px 5000px;
}

a {
  text-decoration: none;
}

body {
  font-family: 'DM Sans', sans-serif;
  margin: auto;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

h1 {
  color: #901c1c;
  margin-right: 100px;
}

.logo {
  height: 50px;
  margin-left: 100px;
}

.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 100px;
}

.photographer_section article {
  margin-bottom: 75px;
}

.photographer_section article,
.photographer_section article a {
  width: 33%;
  height: 250px;
  min-width: 365px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-self: center;
}

.photographer_section article h2 {
  color: #d3573c;
  font-weight: 400;
  font-size: 36px;
  margin: 15px 0 0 0;
}

.photographer_section article img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 100%;
  display: flex;
  justify-self: center;
  justify-content: center !important;
  align-items: center;
}
#localisation {
  color: #901c1c;
  font-size: 13px;
  margin: 0 0 -20px 0;
}
#tagline {
  font-size: 10px;
  margin: 0 0 -20px 0;
  color: #525252;
}
#price {
  font-size: 9px;
  color: #757575;
  margin: 0 0 -10px 0;
}
